.button-member {
  margin-top: 0;
}

.button-new {
  margin-bottom: 5px;
  padding: 4px 11px;
}

.button-delete {
  margin-bottom: 5px;
  margin-left: 2px;
  padding: 4px 11px;
}

#manage-member {
  margin-top: 20px;
}


#modal-admin .form-group {
  margin-bottom: 35px;
}
#modal-create #statusLent {
  margin-top: 16%;
}

#modal-create #otherInfo {
  margin-top: 26%;
}
.modal-footer {
  margin-top:13%;
}
