.homepage {
    text-align: center;
    // background-color: #1abc9c;
    background: #fff url(./image/free-business-plan-templates.jpg) repeat top left;
    height: 95vh;
}
.page-title {
    margin-top: 80px;
    padding: 2rem 0;
    text-align:center;
    font-family: sans-serif;
    color: black;
    font-size: 45px;
}
.page-description {
    text-align: center;
    color: black;
    font-size: 16px;
    margin-bottom: 32px;
}
.image-description {
    margin-top: 24px;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
